#nav-menu{
    
    height: 70px;
    width: 100%;
    border: 1px solid red;
    background-color:grey;
    
}
#nav-menu ul{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
#nav-menu ul li{
 list-style: none;
}
#nav-menu ul li a{
    text-decoration: none;
    color:white
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
  }
  
 